<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>东南大学审计处</title>
    <link type="text/css" href="css/main.css" rel="stylesheet" />
    <link type="text/css" href="css/nav.css" rel="stylesheet" />
    <script src="extends/extends.js"></script>
    <script src="js/vue.js"></script>
    <link href="extends/extends.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="head">
        <table id="head-content">
            <tr>
                <td>
                    <img id="head-logo" src="assets/img/logo.png" />
                </td>
                <td>
                    <div class="hide" frag="面板1">
                        <div herald-content="审计动态" frag="窗口1">
                            <div frag="窗口内容">
                            </div>
                            <script language="JavaScript" class="">
                                var w1imgJsons = [


                                    {
                                        "src": "/_images/default/NoPicture.gif",
                                        "original": "/_images/default/NoPicture.gif",
                                        "title": "东南大学重点修缮工程项目审计实施细则（试行）",
                                        "date": "2018-10-23",
                                        "url": "/_upload/article/files/2e/dd/ead81b3442b48fb18c7be11f44d6/c8b3a199-e67c-4716-b094-8d8ba4b81c7b.doc"
                                    },



                                    {
                                        "src": "/_images/default/NoPicture.gif",
                                        "original": "/_images/default/NoPicture.gif",
                                        "title": "关于基建、修缮、装饰工程项目竣工结算及时送审...",
                                        "date": "2018-09-11",
                                        "url": "/2018/0911/c3782a239855/page.htm"
                                    },



                                    {
                                        "src": "/_images/default/NoPicture.gif",
                                        "original": "/_images/default/NoPicture.gif",
                                        "title": "教育部直属高校审计第二协作组工作研讨会在我校...",
                                        "date": "2017-10-27",
                                        "url": "/2017/1029/c3782a201811/page.htm"
                                    },



                                    {
                                        "src": "/_images/default/NoPicture.gif",
                                        "original": "/_images/default/NoPicture.gif",
                                        "title": "关于印发《东南大学关于加强建设工程管理审计的...",
                                        "date": "2017-09-05",
                                        "url": "/_upload/article/files/8c/02/956bf5b240a29299861d6a2289c9/eea3db47-35a5-4729-a034-6e7d9548103d.doc"
                                    },



                                    {
                                        "src": "/_images/default/NoPicture.gif",
                                        "original": "/_images/default/NoPicture.gif",
                                        "title": "关于印发《东南大学领导干部经济责任审计实施办...",
                                        "date": "2017-08-16",
                                        "url": "/_upload/article/files/45/3e/d179db904507bf432dc5d4a43897/db56cd66-f655-4bb8-8ba5-023b2a279c80.doc"
                                    }


                                ];
                            </script>
                        </div>
                    </div>
                    <div id="sjdt-box">
                        <div id="sjdt-head">
                            <div id="sjdt-head-text">
                                <span>审计动态</span>
                            </div>
                            <a id="sjdt-head-button" href="/sjdt/list.htm">
                                <span>▶︎</span>
                            </a>
                            <div class="clear"></div>
                        </div>
                        <div id="sjdt-content">
                            <div v-for="h_item in list">
                                <div class="date">{{h_item.date}}</div>
                                <div v-on:click="open(h_item.url)" class="title"> <span>{{h_item.title}}</span> </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="navbar" frag="面板2">
        <div class="navbox" frag="窗口2">
            <div frag="窗口内容"> </div>
        </div>
    </div>
    <div class="content-wrap">
        <table border="0" class="content-inner-wrap" style="table-layout:fixed;">
            <tbody>
                <tr>
                    <td>
                        <div>
                            <div class="hide" frag="面板3">
                                <div herald-content="审计公示公告" frag="窗口3">
                                    <div frag="窗口内容"></div>
                                    <script language="JavaScript" class="">
                                        var w3imgJsons = [


                                            {
                                                "src": "/_images/default/NoPicture.gif",
                                                "original": "/_images/default/NoPicture.gif",
                                                "title": "东南大学工程审计结果公告201...",
                                                "date": "2018-10-23",
                                                "url": "/_upload/article/files/58/fc/7ce844854c65ae210e753529ba93/03f366a4-0689-4fe4-bb22-1a36c999be70.xlsx"
                                            },



                                            {
                                                "src": "/_images/default/NoPicture.gif",
                                                "original": "/_images/default/NoPicture.gif",
                                                "title": "东南大学工程审计结果公告201...",
                                                "date": "2018-10-23",
                                                "url": "/_upload/article/files/30/e5/dadffa314f1fab7e19d5b4cb4d12/b9152ba0-78c3-400e-b4e1-ceb5ff9c4a75.xlsx"
                                            },



                                            {
                                                "src": "/_images/default/NoPicture.gif",
                                                "original": "/_images/default/NoPicture.gif",
                                                "title": "2018财务审计公告8号",
                                                "date": "2018-10-22",
                                                "url": "/2018/1022/c3783a243630/page.htm"
                                            },



                                            {
                                                "src": "/_images/default/NoPicture.gif",
                                                "original": "/_images/default/NoPicture.gif",
                                                "title": "2018财务审计公告7号",
                                                "date": "2018-10-22",
                                                "url": "/2018/1022/c3783a243628/page.htm"
                                            },



                                            {
                                                "src": "/_images/default/NoPicture.gif",
                                                "original": "/_images/default/NoPicture.gif",
                                                "title": "2018财务审计公告6号",
                                                "date": "2018-10-22",
                                                "url": "/2018/1022/c3783a243627/page.htm"
                                            },



                                            {
                                                "src": "/_images/default/NoPicture.gif",
                                                "original": "/_images/default/NoPicture.gif",
                                                "title": "2018财务审计公告5号",
                                                "date": "2018-10-22",
                                                "url": "/2018/1022/c3783a243500/page.htm"
                                            }


                                        ];
                                    </script>
                                </div>
                            </div>
                            <div class="content-box" id="sjgsgg-box">
                                <div style="margin-left:50px; margin-right:24px; height:280px;">
                                    <div class="content-head">
                                        <p class="content-title">审计公示公告</p>
                                        <a href="/sjgsgg/list.htm" class="more-btn">更多>></a>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="content-list">
                                        <div v-for="h_item in list">
                                            <div v-on:click="open(h_item.url)" class="content-list-title">{{h_item.title}}</div>
                                            <div v-on:click="open(h_item.url)" class="content-list-date">{{h_item.date}}</div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="hide" frag="面板4">
                                <div herald-content="服务指南" frag="窗口4">
                                    <div frag="窗口内容"></div>
                                    <script language="JavaScript" class="">
                                        var w4imgJsons = [


                                            {
                                                "src": "/_images/default/NoPicture.gif",
                                                "original": "/_images/default/NoPicture.gif",
                                                "title": "天翼审计系统",
                                                "date": "2016-02-24",
                                                "url": "/2016/0224/c3781a145371/page.htm"
                                            },



                                            {
                                                "src": "/_images/default/NoPicture.gif",
                                                "original": "/_images/default/NoPicture.gif",
                                                "title": "基建、修缮工程项目审计指南",
                                                "date": "2014-06-24",
                                                "url": "/2014/0624/c3781a37901/page.htm"
                                            },



                                            {
                                                "src": "/_upload/article/9e/2e/de3ce7244bd8abae2ed3c055780e/2b19f6ba-17ad-4a62-bd37-dd22b11de195_s.jpg",
                                                "original": "/_upload/article/9e/2e/de3ce7244bd8abae2ed3c055780e/2b19f6ba-17ad-4a62-bd37-dd22b11de195.jpg",
                                                "title": "经济责任审计工作流程",
                                                "date": "2014-06-16",
                                                "url": "/2013/1225/c3781a37900/page.htm"
                                            },



                                            {
                                                "src": "/_upload/article/0d/c7/11ce7a724dcc8c471b2923df4410/13f12926-2d10-432e-9fe4-9ac105286d37_s.jpg",
                                                "original": "/_upload/article/0d/c7/11ce7a724dcc8c471b2923df4410/13f12926-2d10-432e-9fe4-9ac105286d37.jpg",
                                                "title": "财务收支审计流程",
                                                "date": "2014-06-16",
                                                "url": "/2013/1225/c3781a37899/page.htm"
                                            },



                                            {
                                                "src": "/_upload/article/c3/e2/59fe038943cdaadf3e64c7d9faec/bc1c0e1e-bf67-424b-aaad-e323504d0185_s.jpg",
                                                "original": "/_upload/article/c3/e2/59fe038943cdaadf3e64c7d9faec/bc1c0e1e-bf67-424b-aaad-e323504d0185.jpg",
                                                "title": "科研审签工作流程",
                                                "date": "2014-06-16",
                                                "url": "/2013/1225/c3781a37897/page.htm"
                                            },



                                            {
                                                "src": "/_upload/article/0b/a0/bab7b73a4de5ae084d23424cb9d1/4e36cae1-a541-4a90-b63e-7e1ece898863_s.jpg",
                                                "original": "/_upload/article/0b/a0/bab7b73a4de5ae084d23424cb9d1/4e36cae1-a541-4a90-b63e-7e1ece898863.jpg",
                                                "title": "工程审计工作流程",
                                                "date": "2014-06-16",
                                                "url": "/2013/1225/c3781a37896/page.htm"
                                            }


                                        ];
                                    </script>
                                </div>
                            </div>
                            <div class="content-box" id="fwzn-box">
                                <div style="margin-left:24px; margin-right:24px; height:280px;">
                                    <div class="content-head">
                                        <p class="content-title">服务指南</p>
                                        <a href="/fwzn/list.htm" class="more-btn">更多>></a>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="content-list">
                                        <div v-for="h_item in list">
                                            <div v-on:click="open(h_item.url)" class="content-list-title">{{h_item.title}}</div>
                                            <div v-on:click="open(h_item.url)" class="content-list-date">{{h_item.date}}</div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="hide" frag="面板5">
                                <div herald-content="下载专区" frag="窗口5">
                                    <div frag="窗口内容"></div>
                                    <script language="JavaScript" class="">
                                        var w5imgJsons = [


                                            {
                                                "src": "/_images/default/NoPicture.gif",
                                                "original": "/_images/default/NoPicture.gif",
                                                "title": "送审资料登记、跟踪单(2014...",
                                                "date": "2014-11-25",
                                                "url": "/2014/1125/c3786a110818/page.htm"
                                            }


                                        ];
                                    </script>
                                </div>
                            </div>
                            <div class="content-box" id="xzzq-box">
                                <div style="margin-left:24px; margin-right:50px; height:280px;">
                                    <div class="content-head">
                                        <p class="content-title">下载专区</p>
                                        <a href="/fwzn/list.htm" class="more-btn">更多>></a>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="content-list">
                                        <div v-for="h_item in list">
                                            <div v-on:click="open(h_item.url)" class="content-list-title">{{h_item.title}}</div>
                                            <div v-on:click="open(h_item.url)" class="content-list-date">{{h_item.date}}</div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="link-wrap">
        <table id="link-table">
            <tbody>
                <tr>
                    <td><a href="http://www.moe.edu.cn/" class="more-btn">中华人民共和国教育部门户网站</a></td>
                    <td><a href="http://www.audit.gov.cn/" class="more-btn">中华人民共和国审计署</a></td>
                    <td><a href="http://www.ciia.com.cn/" class="more-btn">中国内部审计协会</a></td>
                    <td><a href="http://www.jysj.cee.edu.cn/" class="more-btn">中国教育审计网</a></td>
                    <td><a href="http://www.jssj.gov.cn/" class="more-btn">江苏省审计厅</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="copyright">
        <p> 
            Copyright © 2018 东南大学审计处 All Rights Reserved<br/>
            技术支持：东南大学小猴偷米工作室 地址：江苏南京四牌楼2号 邮编：210096 电话：025-83792795
        </p>
    </div>


</body>

<script src="js/vm/sjdtVM.js"></script>
<script src="js/vm/sjgsggVM.js"></script>
<script src="js/vm/fwznVM.js"></script>
<script src="js/vm/xzzqVM.js"></script>